*{
  margin:0 ;
  padding: 0;
 box-sizing: border-box;
}

.container{
  background-color: rgb(168, 166, 247);
            border: 2px solid green;
            width: 6fr;
             height: 650px;
           display: flex;
          flex-direction: column;
}

.header{
  height: 100px;
  width: 6fr;
  height: 100px;
  border:2px solid black;
  margin:5px;
  background-color: rgb(245, 159, 160);
  flex-grow: 6;
}








.child1{
  height: 400px;
  width: 6fr;
  border:2px solid black;
  background-color: rgb(251, 176, 85);
  margin:5px;
  display: flex;
  /* flex-wrap: wrap; */
  /* flex-direction: column; */
  padding: 3px;
  padding-top: 10px;
}
.footer{
  height: 100px;
  width: 6fr;
  height: 100px;
  border:2px solid black;
  background-color: rgb(138, 229, 226);
  margin:2px;
  flex-grow: 6;
}
.sidebar{
  height: 380px;
  width: 20%;
  border:2px solid black;
  background-color: rgb(127, 236, 152);
  margin:2px;
}
.main{
  height: 380px;
  width: 80%;
  border:2px solid black;
  background-color: rgb(206, 235, 120);
  /* margin:5px; */
  display: inline-flex;
  flex-wrap: wrap;
  border:hidden;
  justify-content: center;
}
.box1{
  height: 100px;
  width: 42%;
  border:2px solid black;
  background-color: bisque;
  margin:5px;
  
}
.box2{
  height: 100px;
  width: 25%;
  border:2px solid black;
  background-color: bisque;
  margin:5px;
  
}

.box3{
  height: 100px;
  width: 25%;
  border:2px solid black;
  background-color: bisque;
  margin:5px;
}
.box4{
  height: 100px;
  width: 24%;
  border:2px solid black;
  background-color: bisque;
  margin:5px;
  
}
.box5{
  height: 100px;
  width: 70%;
  border:2px solid black;
  background-color: bisque;

  margin:2px;
}
.box6{
  height: 100px;
  width: 71%;
  border:2px solid black;
  background-color: bisque;
  margin:2px;
}
.box7{
  height: 100px;
  width: 24%;
  border:2px solid black;
  background-color: bisque;
  margin:2px;
}