* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.parent {
  border: 1px solid red;
  display: grid;
  grid-template-columns: 200px 200px 200px 200px 200px;
  grid-auto-rows: 150px;
  grid-template-areas:
  "header header header header header"
  "sidebar content-1  content-1 content-1 content-2"
  "sidebar content-3 content-4 content-4  content-4"  
  "sidebar content-5 content-5 content-5 content-6"
  "footer footer footer footer footer"
  ;
  grid-gap: 10px;
}

.box {
  border: 3px solid grey;
  border-radius: 4px;
}

.box-1 {
  grid-area: header;
}

.box-2 {
  grid-area: sidebar;
}

.box-3 {
  grid-area: content-1;
}

.box-4 {
  grid-area: content-2;
}

.box-5 {
  grid-area: content-3;
}

.box-6 {
  grid-area: content-4;
}

.box-7 {
  grid-area: content-5; 
}

.box-8 {
  grid-area: content-6;
}

.box-9 {
  grid-area: footer;
}